@media screen and (max-width: 500px) {
}

@media screen and (min-width:500px) {
}


body {
  overflow-x: hidden;
  background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  margin:0;
  padding:0;

}

.card-container {
  display:flex;
  flex-direction:column;
  align-items:center;
  border:0.125em solid black;
  font-family: 'Golos Text', sans-serif;
  border-radius:5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:0.625em;
  margin:1.5625em;
  background-color: white;
 
 


}

.score-container {

display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
margin-right:-1.5625em;
}


.score-and-header-container {
  display:flex; 
  gap:10%;
  width:31.25em;
  margin-top:-0.625em;
  
}

.comments-container {
  text-align:center;
  font-size:1.125em;
}

.card-image {
  width: 100%;
  height: 100%;
  overflow:hidden;
  object-fit:contain;

 

}

.image-container {
  height: 25em;
  width:32em;
  margin-top:.0625em;
}

.down-arrow  {

  height:1.25em;

}

.up-arrow  {

  height:1.25em;

}

.main {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
}

.reddit-icon {
  height:25em;
  width:28em;
  margin-left:1.25em;
}

.input-form {
  text-align: center;
}

.input-area {
  
 
  width: 30em;
  color: rgb(36, 35, 42);
  font-size: 1em;
  line-height: 1.25em;
  min-height: 1.75em;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  border: 0.125em solid transparent;
  box-shadow: rgb(0 0 0 / 12%) 0px 0.625em 0.1875em, rgb(0 0 0 / 24%) 0px .0625em 0.125em;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  height:2.5em;
  margin-top:5.625em;
  
  

}

.input-area:focus{
  border: 0.125em solid rgb(124, 138, 255);
}

.submit {
  
  display: inline-block;
  margin-left:0.625em;
  outline: 0;
  cursor: pointer;
  border: 0.125em solid #000;
  border-radius: 0.1875em;
  color: #fff;
  background: #000;
  font-size: 1.25em;
  font-weight: 600;
  line-height: 1.75em;
  min-height: 1.25em;
  padding: 0.5em 1em;
  text-align:center;
  transition-duration: .15s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  box-shadow: rgb(0 0 0 / 12%) 0px 0.625em 0.1875em, rgb(0 0 0 / 24%) 0px .0625em 0.125em;
  margin-top:5.625em;
  
  
}

.submit :hover{
  color: #000;
  background: rgb(255, 218, 87);
}

.posted-by{
  
  margin-bottom:0;
}

.post-title {
 
  margin-bottom:2.1875em;
  
  
}

.subreddit-title{
  text-align:center;
  font-family: 'Lobster', cursive;
  font-size:3em;
}

a {
  text-decoration: underline;
  color: inherit;
}

.navbar-container {
  font-family: 'Golos Text', sans-serif;
  display:flex;
  align-items: center;
  height:4.375em;
  background: black;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125em 1em;
  color:white;
  

}

.navbar-icon {
  height:3.125em;
  width:3.125em;
  margin-left:1.25em;
  margin-right:1.25em;
}


